APP_NAME=Biobrassica
APP_ENV=production
APP_DEBUG=false
APP_URL=https://biobrassica.pt
APP_KEY=

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=biobrassica_biobrassica
DB_USERNAME=biobrassica_biobrassica
DB_PASSWORD=

CACHE_DRIVER=database
SESSION_DRIVER=database
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=mail.biobrassica.pt
MAIL_PORT=587
MAIL_USERNAME=loja@biobrassica.pt
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=loja@biobrassica.pt
MAIL_FROM_NAME=Biobrassica

PRIMARY_DOMAIN=biobrassica.pt

MANUAL_MBWAY_NUMBER=
BANK_TRANSFER_BENEFICIARY=
BANK_TRANSFER_IBAN=
BANK_TRANSFER_BIC=

STAFF_NOTIFICATION_EMAILS=
