.pytest_cache
.ruff_cache
__pycache__
*.py[cod]
*.sqlite3
.venv
node_modules
media
staticfiles
coverage
htmlcov
.git
.gitignore
*.md
Dockerfile
docker-compose*.yml
.editorconfig
.python-version
.env.example
playwright-report
test-results