{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="scroll-smooth">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Loja | Biobrassica{% endblock %}</title>
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/brand/favicon_green.png' %}" />
  <meta name="description" content="{% block meta_description %}{{ website_defaults.shop_meta_description }}{% endblock %}" />
  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <style>
      [x-cloak] { display: none !important; }
    </style>
  {% block head_extra %}{% endblock %}
    <script src="{% static 'unfold/js/alpine/alpine.js' %}" defer></script>
</head>
<body class="min-h-screen flex flex-col bg-paper text-forest font-sans font-light">

  {% include "components/navbar_shop.html" %}

  {% include "components/site_messages.html" %}

  <main class="flex-1 pt-20">
    {% block content %}{% endblock %}
  </main>

  {% include "components/footer_shop.html" %}

  <script src="{% static 'js/navbar.js' %}" defer></script>
  <script src="{% static 'js/quantity-controls.js' %}" defer></script>
  {% block extra_js %}{% endblock %}

</body>
</html>
